<!DOCTYPE html>
<html   lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <ul th:fragment="menu">
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="hasAnyAuthority('admin')">
            <a th:href="@{/admin/kurs/lista}">Lista kursów</a></li>
        <li>
            <a th:href="@{/student/lista}">Lista studentów</a></li>
        <li>
            <a th:href="@{/rejestracja}">Rejestracja</a></li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Wyloguj się</a></li>
    </ul>

</body>
</html>