<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Dodano użytkownika: <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></h1>

    <div th:object="${user}">
        Imię: <span th:text="*{firstName}"></span>
        Nazwisko: <span th:text="*{lastName}"></span>
        E-mail: <span th:text="*{mail}"></span>
        Telefon: <span th:text="*{phone}"></span>
        Wybrane kursy:
        <ul th:each="c : ${user.courses}">
            <li th:text="${c.name}"></li>
        </ul>
    </div>

    <br />

    <a th:href="@{/}">Strona główna</a>
    <a th:href="@{/rejestracja}">Wróć do rejestracji</a>

</body>
</html>